body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
h1 {
	font-family: Arial;
	font-size: 14px;
	margin: 0px;
	color: #3D6AA1;
}
a {
	text-decoration: none;
	color: #044797;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: #000000;
	text-decoration: underline;
}
.logo {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #ADCDEB;
}
.menu {
	font-family: Arial;
	font-size: 10px;
	text-decoration: none;
	color: #FFFFFF;
}
.menu2 {
	font-family: Arial;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
p,li {
	font-family: Arial;
	font-size: 11px;
}
