html,body {margin:0; padding:0;height:100%;background-color:#6EA350}

form {margin:0;padding:0}

body,td,p {font-family: Arial, Helvetica, sans-serif;font-size: 11px; color:#FFF}

a {color: #C9FF8F;text-decoration: none}
a:hover {text-decoration: underline}

p {padding-bottom: 12px;margin: 0px}
ul,ol {margin-top:0;margin-bottom: 12px}

h1 {font-size: 14px;font-weight: bold;margin: 3px 0px 10px 0px}

.bgx {background-repeat: repeat-x}
.bgy {background-repeat: repeat-y}
.bgnr{background-repeat: no-repeat}
.spacer {visibility:hidden}

.footer {color:#FFF;font-size:10px;padding: 9px 0px 5px 0px; background: url(../images/bg_01.gif) repeat-x}
.footer a {color:#FFF}
.content {padding: 12px 14px 10px 16px; text-align:justify}
.menu td { background: url(../images/bull.gif) 18px 13px no-repeat}
.menu a {color:#FFF;padding-left:10px;margin-left:20px;margin-right:14px;text-transform:uppercase}
.menu a:hover {color:#9BF06D; text-decoration:none}
.litem { background:url(../images/bull_02.gif) no-repeat right middle;text-transform:uppercase; font-size:14px; padding-right:38px}
.litem a {color:#FFF}

.logo {width:188px;padding-left:124px;padding-bottom:22px}
.logo h1 {font-size: 14px;font-weight: bold;margin:0; text-transform:uppercase}
.logo h2 {font-size: 11px;font-weight: bold;margin:0}
